{% extends 'metropogames/base.html' %}
{% load static %}
{% block content %}
    <main>
              

            <form class="formulario" action="#" method="POST" onsubmit="return validarFormulario()">
                <h1>Registrate</h1>
                <div class="contenedor">
                   <div class="input-contenedor">
                       
                       <input type="text" id="nombre" name="nombre" placeholder="Nombre" onkeypress="return sololetras(event)" >
                   </div>  
                   
                  <div class="input-contenedor">
                       
                       <input type="text" id="apellido" name="apellido" placeholder="Apellido" onkeypress="return sololetras(event)">
                   </div>  
      
                   <div class="input-contenedor">
                       
                       <input type="text" id="usuario" name="usuario" placeholder="Nombre Usuario">
                   </div>  

                   <div class="input-contenedor">
                        <input type="email" id="correo" name="correo" placeholder="Correo" >
                    </div> 
                    
                   <div class="contrasena">
                        <input type="password" id="password" placeholder="Contraseña">

                        <div class="col">
                             <button class="btn btn-primary" type="button" onclick="mostrarContrasena()"><img class="ojito" src="{% static 'img/ojito.png' %}" alt="logo ojito"></button>
                         </div>
                    </div>  
                    <br>
                
                  
                 
          
                  <div class="input-contenedor">
                       <input type="submit" value="Registrar" class="button" onclick="confirmacion()">
                  <p>Al registrarte, aceptas nuestras condiciones de uso y politicas de privacidad.</p>
                  <p>¿Ya tienes cuenta? <a class="link" href="{% url 'loginvista' %}">Iniciar sesión</a> </p>
                  </div> 
                   
                  
                  
                
                </div>
            </form>
            <script src="{% static 'js/formulario.js' %}"></script>
            <script src="{% static 'js/letras.js' %}"></script>
            <script src="{% static 'js/mostrar.js' %}"></script>
            <script src="{% static 'js/confirmar.js' %}"></script>
            
        </main>
{% endblock %}