{% extends 'metropogames/base.html' %}
{% load static %}
{% block content %}
    <main>
            <form class="formulario">
                    <h1>Login</h1>
                    <div class="contenedor">
                        
                       <div class="input-contenedor">
                           <input type="email" id="nombre" placeholder="Correo" required>
                       </div>  
          
                       <div class="input-contenedor">

                        <div class="contrasena">
                                <input type="password" id="password" placeholder="Contraseña">

                                <div class="col">
                                     <button class="btn btn-primary" type="button" onclick="mostrarContrasena()" > <img class="ojito" src="{% static 'img/ojito.png' %}" alt="logo ojito"></button>
                                 </div>
                        </div>
                           
                       </div>  
                      
                      <div class="input-contenedor">
                           <input type="submit" value="Login" class="button">
                      <p>Al registrarte, aceptas nuestras condiciones de uso y politicas de privacidad.</p>
                      <p>¿No tienes cuenta? <a class="link" href="{% url 'formulario' %}">Registrate</a> </p>
                      </div> 
                    
                    </div>
                </form>

                <script src="{% static 'js/mostrar.js' %}"></script>

    </main>
{% endblock %}