{% extends 'metropogames/base.html' %}
{% load static %}
{% block content %}

    <main>
            <form method="POST" class="formulario">
                    <center>    
                <h1>Login</h1>
                    <h2 style="color: white">Iniciar sesión</h2>

                    <form method="POST">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button class="button" type="submit">Login</button>
                        <hr />
                        <br>
                        
                                <a class="button" href="/register">Registrar usuario</a>
                                <br><br>
                        </center>
                        
                    </form>
                    
                   
                    
                    </div>
                </form>

                <script src="{% static 'js/mostrar.js' %}"></script>

    </main>
{% endblock %}