{% extends 'metropogames/base.html' %}
{% load static %}
{% block content %}
<main>

        <div class="banner">
                <h1>Acerca de ...</h1>
            </div>
    <div class="productos">
        <div class="contenidos">
                <img class="galery" src="{% static 'img/galeria1.jpg' %}" alt="galeria de imagen 1">
                <div class="info">
                        <h1>League of Legends</h1>
                        <p>League of Legends es un juego competitivo en línea de ritmo frenético, que fusiona la velocidad y la intensidad de la estrategia en tiempo real 
                                (ETR) con elementos de juegos de rol. Dos equipos de poderosos campeones, cada uno con un diseño y estilo de juegos únicos, compiten cara a 
                                cara a través de diversos campos de batalla y modos de juego. Con un plantel de campeones en constante expansión, actualizaciones frecuentes 
                                y un emocionante panorama competitivo, League of Legends ofrece posibilidades de juego ilimitadas a usuarios de todos los niveles de habilidad.</p>
                </div>
        </div>
        <div class="contenidos">
                <img class="galery" src="{% static 'img/galeria2.jpg' %}" alt="galeria de imagen 1">
                <div class="info">
                        <h1>Super Mario Bros 3</h1>
                        <p class="parra">Tenemos otra vez la historia del rescate hacia Peach, Bowser la secuestra y Mario tan heroico como siempre 
                                tiene la aventura de salvar a la princesa y en este caso de devolver las varitas mágicas a los reyes 
                                de los 7 mundos. El rumor de que todo es una obra de teatro fue confirmado por Miyamoto así que en cierto
                                 modo esta bien arreglado pero sin embargo se podía haber puesto en el Lore del universo de Mario ya que 
                                 contiene todos los elementos propios de esta saga histórica. Si Super Mario Bros 2 (USA) era muy distinto a los otros títulos, este juego tenia mas del 
                                primer Mario que del segundo pero aun así se incluyeron varias cosas como por ejemplo, la variedad de enemigos, poder coger algunos enemigos como los koopas etc...</p>
                </div>
        </div>
        <div class="contenidos">
                <img class="galery" src="{% static 'img/galeria3.jpg' %}" alt="galeria de imagen 1">
                <div class="info">
                        <h1>PES 2019</h1>
                        <p>Konami compite por hacerse con el trono de la simulación deportiva de fútbol con PES 2019. Cargado de novedades jugables y visuales, 
                                Konami pretende que Pro Evolution Soccer 2019 vuelva a permitir a los jugadores ponerse en el rol de sus futbolistas favoritos y 
                                llevarlos a la gloria. Con Philippe Coutinho como carátula, y con especial protagonismo para un David Beckham que encabeza 
                                la lista de Leyendas de este año, esta entrega para la temporada 2018-2019 de la saga PES es, según la propia Konami, la más ambiciosa
                                 y "la mejor" que han hecho jamás. </p>
                </div>
        </div>

    </div>
    <div class="productos">
            <div class="contenidos">
                    <img class="galery" src="{% static 'img/galeria4.jpg' %}" alt="galeria de imagen 1">
                    <div class="info">
                        <h1>Mortal Kombat 11</h1>
                        <p>Netherrealm firma la que ya es su obra maestra tras un legado intachable en la actual 
                                generación. Sobre el papel, Mortal Kombat 11 destaca por su excelencia en todos sus aspectos pero, 
                                con el mando en la mano, es un canto a su trayectoria que nos lleva desde las raíces de la saga a la vanguardia del propio género.

                                Scorpion está de regreso y su arpón está tan inspirado como sediento de sangre: Mortal Kombat 11 es -de largo- 
                                la entrega más sanguinaria y explícita de todas, y se nota que Ed Boon y su equipo se lo han pasado de maravilla 
                                imaginando Fatalities. Ahora bien, pese a que hay cambios determinantes
                                en el nuevo sistema de juego, todo el que haya dedicado tardes enteras a Mortal Kombat 2 se sentirá como en casa.</p>
                </div>
            </div>
            <div class="contenidos">
                    <img class="galery" src="{% static 'img/galeria5.jpg' %}" alt="galeria de imagen 1">
                    <div class="info">
                        <h1>Marvel vs Capcom</h1>
                        <p>Marvel vs. Capcom: Clash of Super Heroes, o simplemente conocido como "Marvel Vs. Capcom" o "MVC", es el tercer videojuego en la serie de 
                                crossovers entre las compañías Marvel Comics y Capcom lanzado a principios de 1998. Para el videojuego se rescatan muchos personajes 
                                clásicos de esta última compañía, tales como Mega Man, Strider Hiryū o Captain Commando.

                                Los jugadores seleccionan un equipo de personajes de los universos de Marvel y Capcom para participar en combate y tratar de 
                                noquear a sus oponentes. A diferencia de la entrada anterior de la serie, Marvel Super Heroes vs. Street Fighter, este otro 
                                videojuego presenta personajes de varias franquicias de videojuegos de Capcom, en lugar de estrictamente solo personajes de 
                                Street Fighter. </p>
                </div>
            </div>
            <div class="contenidos">
                    <img class="galery" src="{% static 'img/galeria6.jpg' %}" alt="galeria de imagen 1">
                    <div class="info">
                        <h1>Donkey Kong 2</h1>
                        <p>Ya hemos comentado que, a finales de 1995, Saturn y PlayStation mantenían una batalla feroz por demostrar su superioridad técnica.
                                 Ante la batalla de los 32 bits (y el apoyo de SEGA a su nueva consola), Mega Drive comenzaba a perder fuelle, pero Nintendo
                                  aún apostaba totalmente por Super Nintendo. La prueba de ello fue la llegada esas navidades de Donkey Kong Country 2, 
                                  secuela directa del juego que dejó boquiabierto al personal un año atrás. De nuevo, Rare se 
                                convertía en la artífice de esta aventura y se valió de sus todopoderosas estaciones de trabajo Sillicon Graphics para concebir el todavía impactante apartado técnico.</p>
                </div>
            </div>
    </div>
        
    <div class="productos">
            <div class="contenidos">
                    <img class="galery" src="{% static 'img/galeria7.jpg' %}" alt="galeria de imagen 1">
                    <div class="info">
                        <h1>DBZ Budokai Tenkaichi 3</h1>
                        <p> El primero de ellos fue dar cabida a la desarrolladora 
                                Spike dentro del mundo Dragon Ball, teniendo como consecuencia el nacimiento de una saga: "Budokai Tenkaichi", la cual ya puede
                                 calificarse como la serie de juegos de lucha más importante de Goku hasta la fecha. El segundo deseo consistió en traernos la 
                                 continuación de aquel nuevo concepto que se habían sacado de la manga los japoneses de Spike, creando uno de los modos historia
                                  más completos de cuantos hayamos visto en un título de Dragon Ball. Y el tercer deseo fue, cómo no, el título que saldrá este 
                                  viernes 9 de noviembre, digna culminación de un trabajo que arrancó hace catorce años con el lanzamiento del ya mítico Dragon Ball Z de Super Nintendo.</p>
                </div>
            </div>
            <div class="contenidos">
                    <img class="galery" src="{% static 'img/galeria8.jpg' %}" alt="galeria de imagen 1">
                    <div class="info">
                        <h1>GTA San Andreas</h1>
                        <p>Mi relación con GTA San Andreas es un tanto especial, pues la primera vez que lo jugué no lo terminé. Esto es algo que, para el yo del 
                                presente, tiene difícil explicación. Tras dejarlo aparcado, me olvidé pronto de él para disfrutar como un niño chico con el primer 
                                GTA en "HD", GTA IV, y para repetir buena experiencia con GTA V como usuario de PS3 e indignarme más tarde como usuario de PC. 
                                En cualquier caso, en una de estas aburridas tardes de verano que a todos nos asaltan, 
                                me decidí a instalar Grand Theft Auto San Andreas tras tenerlo años muerto de risa en Steam. No puedo decir que me arrepienta de la decisión que tomé, la verdad.</p>
                </div>
            </div>
            <div class="contenidos">
                    <img class="galery" src="{% static 'img/galeria9.jpg' %}" alt="galeria de imagen 1">
                    <div class="info">
                        <h1>DOOM</h1>
                        <p>Nada más empezar la campaña, uno de los personajes de este nuevo DOOM se pone en contacto con nosotros mediante un monitor, comentando 
                        que "podríamos beneficiarnos mutuamente". Nuestro Marine responde rompiendo el monitor de un puñetazo. Al principio, interpretamos
                         esto como una declaración de intenciones. Nada de intentar hacer una historia alrededor de demonios en Marte que intente tener sentido. Nada que nos haga dar paseos 
                        durante una hora antes de empezar a pegar tiros. Pero lo cierto es que con el avance de las misiones, DOOM sí intenta contar algo parecido a una historia No le pone 
                        mucho empeño y nunca te la tomarás en serio, pero por mucha inspiración en el shooter clásico.</p>
                </div>
            </div>

    </div>
        

<br>
<br>

</main>
{% endblock %}